DATABASE_URL=postgresql://keftrade:keftrade@127.0.0.1:5432/keftrade
NEXT_PUBLIC_API_URL=http://127.0.0.1:8000
LLM_PROVIDER=groq

GROQ_API_KEY=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

GROQ_MODEL=llama-3.3-70b-versatile
